<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://counterfunctions02050919.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/b26aa62c-2509-4fdd-9186-fc5c0828a7c9/resourcegroups/cloud-shell-storage-westeurope/providers/Microsoft.Web/sites/CounterFunctions02050919</ResourceId>
    <UserName>$CounterFunctions02050919</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://counterfunctions02050919.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>